.div2 {
    border-top: 2px solid #ffe100be;
    background-color: black;
    min-height: 110vh;    
    background-image: url('images/bg7.png');
    background-image: linear-gradient(to left, rgba(0, 1, 5, 0.295), rgb(0, 0, 0)), url('images/bg7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.top {
  padding: 2rem 0 0 10rem;
  transition: all ease-in 0.1s;
}

.top:hover {
  color: white;
}

.container-fluid {
    padding: 13rem 0;
}

.text-container {
    color: white;
    padding: 2rem 10rem;
}

.line1 {
    font-family: playfair display, serif;
    font-size: 2rem;    
    font-weight: 600;
    display: inline-block;
    text-shadow: 7px 7px 7px #ffffff6c;
    animation: lights 5s 750ms linear infinite;
}

.line2 {
    display: inline-block;
    font-family: 'Grey Qo', cursive;
    font-size: 3rem;
    letter-spacing: 3px;
    margin: -2.5rem 0 10rem 0;
    color: #ffe100be;
}

.content {
    color: white;
    word-spacing: 0.3rem;
    font-size: 1rem;
    text-align: justify;
}

.about-heading {
  opacity: 0.3;
  font-size: 10rem;
  font-family: 'Grey Qo', cursive;
  position: absolute;
  color: gray;
  margin: -9rem 0rem 0 -5rem;
}

.about-text {
  padding: 1rem;
  opacity: 0.1;
  background-color: black;
  transition: all ease-out 0.5s;
}

.about-text:hover {
  background-color: transparent;
  opacity: 1.0;
  padding: 1rem;
} 

@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }

/* Contact Section */

.div3 {
  border-top: 2px solid magenta;
  min-height: 100vh;
  /* background-image: linear-gradient(to left, rgba(0, 1, 5, 0.13), rgb(0, 0, 0)); */
}

.tea-div {
  display: inline-block;
  font-size: 2rem;    
  font-family: playfair display, serif;
  font-weight: 700;
}

.tea-content {
  display: inline-block;
  word-spacing: 0.3rem;
  font-size: 1.2rem;
}

.mail {
  font-size: 3rem;
  font-family: playfair display, serif;
  color: #ffe100be;
  font-weight: 800;
}
/* 
.form {
  margin-top: 5rem;
  padding: 0.5rem;
  font-size: 1.1rem;
  background-color: black;
  border: 1px solid #ffe100be;
  color: #ffe100be;
}

.btn-css {
  color: #ffe100be;
  border-radius: 0;
  border-color: #ffe100be;
  margin: -5px 0 0 1rem;
} */

.footer {
  margin-bottom: -2rem;
  min-height: 20vh;
  background-color: black;
  background-image: linear-gradient(to left, rgba(0, 1, 5, 0.13), rgb(0, 0, 0)), url('images/bg1.png');
  bottom: 0;
  background-position: center;
  background-repeat: repeat;
}

.a-tag{
  text-align: center;
  padding-top: 4rem;
}

.a-tag a {
  color: gray;
  text-decoration: none;
  padding: 1rem;
}

.a-tag a:hover {
  color: #ffe100be;
}

.end {
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  border-top: 1px solid gray;
  color: gray;
  text-align: center;
}